# Replace this with your own key.
SECRET_KEY = '???????????????????????????????'

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql',
        'NAME': 'sitebias',
        'USER': 'sitebias',
        'PASSWORD': 'sitebias', # Change this.
        'HOST': '127.0.0.1',
        'PORT': '5432',
    }
}
